body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a2d5c6;
  overflow: hidden;
}
.card {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 210px ;
  grid-template-areas: "image" "text" "stats";

  border-radius: 18px;
  background: rgb(19, 15, 15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  text-align: center;
  

  transition: 0.5s ease;
  cursor: pointer;
  margin:10px;
}
.card-image {
  grid-area: image;
  background: url("pngegg.png");
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* background-size: cover; */
}



.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
